# Ignore virtual environment
venv/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Environment variable secrets
.env
